
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border border-secondary">
            <div class="card-body">
                <span class="display-4">{{title}}</span>
                <p>{{data.bookDescription}}</p>

                <form action="/book/delete" method="post">
                    <a href="/book/{{data.id}}/edit" class="btn btn-info">Edit</a>
                    <input type="hidden" name="id" value="{{data.id}}" readonly>
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </form>
            </div>
        </div>
    </div>
</div>