
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border border-secondary">
            <div class="card-body">
                <span class="display-4">{{title}}</span>
                <p>{{data.bookDescription}}</p>

                <a href="/book/{{data.id}}/edit" class="btn btn-info">Edit</a>
                <a href="/book/delete" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>